.project
.tmp_*
*.log
*.orig
featherdoc/public/docs
featherdoc/lib/node-jsdoc-toolkit/*
*.sublime-project
*.sublime-workspace
reports
.DS_Store
blog/public/feather-res-cache/
blog/public/feather-res-cache/*
featherdoc/public/feather-res-cache
featherdoc/public/feather-res-cache/*
api_tester/public/feather-res-cache
api_tester/public/feather-res-cache/*
*.out
__restProxy.js
*.swp
node_modules/underscore/raw
node_modules/daemon/build/
node_modules/daemon/lib/*.node
node_modules/connect-redis/node_modules/redis/node_modules/hiredis/deps/hiredis/libhiredis.a
*.lock-wscript
*.wafpickle-7