.project
.tmp_*
*.log
*.orig
node_modules
lib/node-core-enhancements/*
featherdoc/public/docs
featherdoc/lib/node-jsdoc-toolkit/*
*.sublime-project
*.sublime-workspace
reports
.DS_Store
blog/public/feather-res-cache/
blog/public/feather-res-cache/*
featherdoc/public/feather-res-cache
featherdoc/public/feather-res-cache/*
api_tester/public/feather-res-cache
api_tester/public/feather-res-cache/*
*.out
__restProxy.js
*.swp