[submodule "lib/node-core-enhancements"]
	path = lib/node-core-enhancements
	url = http://github.com/ryedin/node-core-enhancements.git
[submodule "lib/jquery-tmpl"]
	path = lib/jquery-tmpl
	url = https://github.com/jquery/jquery-tmpl.git
[submodule "lib/socket.io.client"]
	path = lib/socket.io.client
	url = git://github.com/LearnBoost/Socket.IO.git
