[submodule "lib/jquery-tmpl"]
	path = lib/jquery-tmpl
	url = https://github.com/jquery/jquery-tmpl.git
[submodule "featherdoc/lib/node-jsdoc-toolkit"]
	path = featherdoc/lib/node-jsdoc-toolkit
	url = git@github.com:skrenek/node-jsdoc-toolkit.git
[submodule "lib/socket.io.client"]
	path = lib/socket.io.client
	url = git://github.com/LearnBoost/Socket.IO.git
