.blogentry {
  background-color: #E1ECAA;
  border-radius: 5px;
  border: solid 1px #329300;
  padding: 3px 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.blogentry h3 {
  margin: 0px;
}

.blogentry p {
  border-top: 1px solid #329300;
  padding-top: 5px;
}

.collapsed {
  display: none;
}