.blogentry {
  background-color: #E1ECAA;
  border-radius: 5px;
  border: solid 1px #329300;
  padding: 3px 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.blogentry h3 {
  margin: 0px;
}

.blogentry p {
  border-top: 1px solid #329300;
  padding-top: 5px;
}

.collapsed {
  display: none;
}

.blog_lastfive .toolbar {
  background-color: #aade32;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(171,222,51)),
      color-stop(1, rgb(216,235,171))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(171,222,51) 0%,
      rgb(216,235,171) 100%
  );
  border-radius: 3px;
  -moz-border-radius: 5px;
  border: solid 1px #329300;
  padding: 3px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.blog_lastfive .refresh {
  cursor: pointer;
}

.blog_lastfive .loader {
  float: right;
}