html {
}

@font-face {
  font-family: skia;
  src: url('/fonts/Skia.ttf');
}

body {
  background-color: #4e4955;
  font-family: verdana, sans-serif;
  color: #4e4955;
  margin: 0px;
  padding: 0px;

}

a {
  color: #4e2c54;
  text-decoration: none;
}

a:visited {
  color: #3e3a44;  
}

a:hover {
  color: purple;
  border-top: solid 1px purple;
  border-bottom: solid 1px purple;
}

.logo {
  width: 105px;
  height: 50px;
  vertical-align: middle;
}

.header {
  background-color: #d9d3bb;
  background-image: -webkit-linear-gradient(top, #a19a93, #d9d3bb);
  color: #3e3a44;
  font-size: 50px;
  font-weight: bold;
  font-family: skia, sans-serif;
  height: 50px;
  padding: 5px 5px 5px 5px;
  position: fixed;
  text-shadow: 1px 1px 2px #4e2c54;
  width: 100%;
}

.shadow {
  box-shadow: 3px 3px 3px #4e2c54;
  -moz-box-shadow: 3px 3px 3px #4e2c54;
  -webkit-box-shadow: 3px 3px 3px #4e2c54;
}