body {
	font-family: Arial, sans-serif;
	background-color: #d9f38e;
	margin: 0px;
	padding: 0px;
}

#content {
	margin: 0px;
	padding: 5px;
}

#left-col {
	width: 75%;
	float:left;
}
#right-col {
	width:25%;
	float:right;
}
#footer {
	position: absolute;
	bottom: 0px;
	width: 99%;
	clear:both;
	text-align: center;
	background-color: #aade32;
	border-top: solid 1px #329300;
	padding-top: 3px;
	padding-bottom: 3px;
}
#blogengine_signin_Container, #blogengine_search_Container {
	text-align: center;
	padding: 5px;
}

#blogengine_signin_Container, #blogengine_search_Container {
	background-color: #E1ECAA;
	border-radius: 10px;
	border: solid 1px #329300;
}

#blogengine_search_Container {
	margin-top: 10px;
}

ul {
	list-style: none;
	-webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
	margin: 0px 0px;
	-webkit-padding-start: 0px;
}