footer.row {
    margin-top 80px;
    border-top: solid 1px #E6E6E6;
    padding-top: 20px;
}
.row {
    max-width: 1200px;
}
.container {
    padding-top: 20px;
}
.green.button {
    background-color: #328F01;
}
.nice.green.button {
    border: 1px solid #2A7A01;
}
.green.button:hover, .green.button:focus {
    background-color: #2A7A01;
}
