

/* ========== engine.css ========== */

.blog_engine .content {
  padding: 5px;
}

.blog_engine .left-col {
  width: 75%;
  float:left;
}

.blog_engine .right-col {
  width:25%;
  float:right;
  padding-bottom: 30px;
}


/* ========== header.css ========== */

@font-face {
  font-family: rubberneck;
  src: url('/fonts/RUBBERNECK.ttf');
}
@font-face {
  font-family: bukabird;
  src: url('/fonts/Buka Bird.ttf');
}

.blog_header h1 {
  margin: 0px;
  padding: 5px;
  font-family: bukabird, "Arial Black", sans-serif;
  background-color: #aade32;
  border-bottom: ridge 5px #329300;
  font-size:80px;
  text-shadow: 2px 2px 3px #000000;
}
.blog_header h1 img {
  vertical-align: middle;
  margin-right: 15px;
}
.blog_header a {
  color: #6a340a;
  text-decoration: none ! important;
}

/* ========== toolbar.css ========== */

.blog_toolbar {
  background-color: #aade32;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(171,222,51)),
      color-stop(1, rgb(216,235,171))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(171,222,51) 0%,
      rgb(216,235,171) 100%
  );
  border-radius: 3px;
  -moz-border-radius: 5px;
  border: solid 1px #329300;
  padding: 3px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.blog_toolbar .button {
  cursor: pointer; 
  width: 16px;
  height: 16px;
  padding: 0px 8px;
  margin: 0px 2px;
  background-repeat: no-repeat;
  background-position: top left;
}

.blog_toolbar .refresh {
  background-image: url('/images/arrow_refresh.png');
}

.blog_toolbar .new {
  background-image: url('/images/page_add.png');
}

/* ========== latestposts.css ========== */

.blog_latestposts .blogentry {
  background-color: #E1ECAA;
  border-radius: 5px;
  border: solid 1px #329300;
  padding: 3px 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.blog_latestposts .blogentry h3 {
  margin: 0px;
}

.blog_latestposts .blogentry p {
  border-top: 1px solid #329300;
  padding-top: 5px;
}

.blog_latestposts .collapsed {
  display: none;
}

/* ========== signin.css ========== */



/* ========== exportdb.css ========== */

.blog_exportdb {
  margin-top: 10px;
  padding: 5px;
}

.blog_exportdb .message {
  margin-top: 5px;
}

/* ========== importdb.css ========== */

.blog_importdb {
  margin-top: 10px;
  padding: 5px;
}

.blog_importdb .message {
  margin-top: 5px;
}

/* ========== chat.css ========== */

.blog_chat
{
  background-color: #E1ECAA;
  border-radius: 10px;
  border: solid 1px #329300;
  padding: 7px;
  font-family: verdana, helvetica, sans-serif;
  font-size: 12px;
  margin-top: 10px;
}
.blog_chat h4
{
  margin: 7px;
}
.blog_chat .conversation
{
  height: 200px;
  width: 98%;
  overflow-y: scroll;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #666;
}
.blog_chat span
{
  padding: 3px;
}
.blog_chat .chatboxContainer
{
  padding: 5px;
}
.blog_chat .message .namelabel
{
  color: blue;
  font-weight: bold;
}
.blog_chat input
{
  font-family: verdana;
  font-weight: bold;
  font-size: 10px;
}
.blog_chat input.grey
{
  color: #ccc;
}
