.blog_latestposts .blogentry {
  background-color: #EEE;
  border-radius: 5px;
  border: solid 1px #CCC;
  padding: 3px 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.blog_latestposts .blogentry h3 {
  margin: 0px;
}

.blog_latestposts .blogentry p {
  border-top: 1px solid #329300;
  padding-top: 5px;
}


.blog_latestposts .blogreply {
  padding: 3px 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.blog_latestposts .blogreply h5 {
  margin: 0px;
}

.blog_latestposts .blogreply p {
  border-radius: 5px;
  border: solid 1px #329300;
  padding: 3px;
  margin: 3px 10px;
}

.blog_latestposts .collapsed {
  display: none;
}
